<div class="container">
    <h2>Address Book Entries</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user.id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.state }}</td>
            <td>{{ user.zipcode }}</td>
            <td>
              <button class="btn btn-warning" (click)="editUser(user.id)">Edit</button>
              <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
      
    </table>
  </div>
  
